@tailwind base;
@tailwind components;
@tailwind utilities;



 #animatedFather:hover #animatedItem {
    animation-play-state: paused;
 } 

body {
    min-height: 100vh;
    font-family: 'Mali';
}

.root {
    min-height: 100vh;
}